:root {
  --header-height: 8rem;
  --footer-height: 4rem;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#root {
  max-width: 100vw;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* STATUS MESSAGES */

.error-message {
  color: red;
  font-weight: 500;
  font-size: 1rem;
}

.loading-message {
  color: #2cb1ba;
  font-weight: 500;
  font-size: 1.7rem;
}

/* HEADER CSS */

header {
  z-index: 1;
  position: fixed;
  height: var(--header-height);
  background-color: white;
  width: 100vw;
  display: flex;
  padding: 0 7rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
}

.logo-container {
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  object-fit: cover;
}

.search-bar-container {
  font-family: "Poppins", sans-serif;
  background-color: #f5f6f7;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-input {
  font-family: "Poppins", sans-serif;
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 300;
  height: 2.5rem;
  outline: none;
  padding-left: 1rem;
  width: 35rem;
  flex: 3;
}

.search-icon {
  margin-left: 1.4rem;
}

.header-btn-container {
  display: flex;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.77rem;
  font-weight: 300;
  transition-duration: 0.3s;
}

.login-signup-btns {
  background-color: white;
  border: 1px solid #2cb1ba;
  color: #2cb1ba;
  height: 2rem;
  width: 7rem;
  margin-right: 0.7rem;
}

.login-signup-btns:hover {
  background-color: #2cb1ba;
  border: 1px solid #2cb1ba;
  color: white;
}

.primary-btn {
  background-color: #007781;
  border: 1px solid #007781;
  color: white;
  height: 2rem;
  padding: 0 0.7rem;
}

.primary-btn:hover {
  background-color: #2cb1ba;
  border: 1px solid #2cb1ba;
  color: white;
}

.logout {
  background-color: #c2165b;
  border: 1px solid #c2165b;
  color: white;
  height: 2rem;
  padding: 0 0.7rem;
}

.logout:hover {
  background-color: white;
  border: 1px solid #c2165b;
  color: #c2165b;
}

.bottom-header span {
  font-size: 0.77rem;
}

.price-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .hero-container {
  background-image: url("https://res.cloudinary.com/dwpznxjrt/image/upload/v1699631066/vinted/hereobanner_hpn1xw.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100px;
} */

/* .hero-container img {
  height: 40rem;
  object-fit: cover;
} */

main {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 7rem;
  width: 100vw;
}

/* HOME CSS */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.2rem;
}

.card {
  cursor: pointer;
}

.card-user {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.2rem;
}

.card-user img {
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.7rem;
}

.card-user span {
  color: #999;
  font-size: 0.7rem;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.product-image-container img {
  height: 20rem;
  width: 14rem;
  object-fit: cover;
}

.product-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.7rem;
}

.product-infos p {
  color: #757575;
  font-size: 0.7rem;
  font-weight: 300;
}

p.home-price {
  font-size: 0.8rem;
  color: black;
}

/* SINGLE PRODUCT CSS */
.infos-divider {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
}

.grey-background {
  background-color: #eaedee;
}

.single-product-container {
  display: flex;
  gap: 9rem;
  justify-content: space-around;
  /* height: 35rem; */
}

.single_product_img_container {
  width: 50%;
}

.single_product_img_container img {
  object-fit: contain;
  border-radius: 5px;
  height: 35rem;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.details-container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35rem;
  width: 27rem;
  padding: 2.4rem 3rem;
}

.product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.price {
  font-size: 2.2rem;
}

.product-details div {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  gap: 0.7rem;
}

.product-details div p {
  color: #757575;
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details div p span:nth-child(even) {
  font-weight: 500;
  text-align: right;
}

.product-description-container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 1rem;
  width: 100%;
}

.product-description-container p {
  line-height: 1.2;
}

.product-description-container p:nth-child(even) {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #757575;
}

.user-infos {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  gap: 0.7rem;
}

.user-infos span {
  font-weight: 300;
}

.avatar {
  width: 2.4rem;
  object-fit: cover;
  border-radius: 50px;
  gap: 1rem;
}

.go-to-cart-btn {
  background-color: #007781;
  border: 1px solid #007781;
  color: white;
  height: 2.7rem;
  width: calc(100% - 2rem);
  padding: 0 0.7rem;
  font-size: 1rem;
}

.go-to-cart-btn:hover {
  background-color: #2cb1ba;
  border: 1px solid #2cb1ba;
  color: white;
  font-weight: 500;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* FOOTER CSS */

footer {
  border: 1px solid green;
  height: var(--footer-height);
}
